<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
      $<%= number_with_precision(current_user.total_amount_day(Date.today), precision: 2, delimiter: ',') %>
      <span>HOY</span>
    </div>
    <div class="total-box col-md-3">
      $<%= number_with_precision(current_user.total_amount_day(Date.today-1.day), precision: 2, delimiter: ',') %>
      <span>AYER</span>
    </div>
    <div class="total-box col-md-3">
      $<%= number_with_precision(current_user.total_amount_month(Date.today), precision: 2, delimiter: ',') %>
      <span>ESTE MES</span>
    </div>
    <div class="total-box col-md-3">
      $<%= number_with_precision(current_user.total_amount_month(Date.today-1.month), precision: 2, delimiter: ',') %>
      <span>MES PASADO</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 6 Months</div>
        <div class="panel-body">
          <div id="expenses-chart" data-chart="<%= current_user.last_months_expenses %>" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Day</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" data-chart="<%= current_user.last_month_expenses %>" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Category</div>
        <div class="panel-body">
          <div id="category-chart" data-chart="<%= current_user.expenses_per_category %>" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Accumulated</div>
        <div class="panel-body">
          <div id="month-acc" data-chart="<%= current_user.months_accumulated %>" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
  new DashboardView();
</script>