<div class="bg">
  <div class="container home">
    <div class="row middle">
      <div class="col-sm-6 col-sm-offset-1 text">
        <div class="message">
          <h1>Expensify</h1>
          <p> Is an application designed to every people that want to manage their expenses in a easy and fast way.<br/> In order to take the control of their expenses. </p>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-1 form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class:"form-control" %>
          </div>

          <div class="row">
            <div class="form-group col-xs-6 first-name">
             <%= f.label :first_name %><br />
             <%= f.text_field :first_name, class:"form-control" %>
            </div>

            <div class="form-group col-xs-6 second-name">
             <%= f.label :last_name %><br />
             <%= f.text_field :last_name, class:"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-success btn-lg btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-3 text-center">
        <span class="title"><strong>Expensify</strong></span>
        <span class="option">®2017</span>
      </div>
      <div class="col-sm-2 text-center">
        <span class="title"><strong>Expenses</strong></span>
        <div class="option">
          <span><%= link_to "Dashboard", dashboard_index_path %></span><br />
          <span><%= link_to "Expense List", expenses_path %></span>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <span class="title"><strong>User</strong></span>
        <div class="option">
          <span><%= link_to "Sign Up", new_user_registration_path %></span><br />
          <span><%= link_to "Sign In", new_user_session_path %></span>
        </div>
      </div>
    </div>
  </div>
</footer>