<% @categories.each do |category| %> 
  <div class="row category list-group-item <%= params[:category] == category.id.to_s ? "active" : "" %>", id="<%= category.id %>">
    <% if params[:category] == category.id.to_s %>
      <%= link_to expenses_path(transaction: params[:transaction], date: params[:date], q: params[:q]), class:"category-name col-xs-10" do %>
        <span><%= category.name %></span>
      <% end %>
    <% else %>
      <%= link_to expenses_path(category: category, transaction: params[:transaction], date: params[:date], q: params[:q]), class:"category-name col-xs-10" do %>
        <span><%= category.name %></span>
      <% end %>
    <% end %>
    <div class="col-xs-2">
      <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, category ,method: :delete, remote: true, class:"category-destroy",data: {confirm: 'Are you sure? The Expenses with this category will be Delete.' } %>
    </div>
  </div>
<% end %>
<div class="row list-group-item create-category">
  <%= render 'categories/new_link' %>
</div>

